[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "nft-omega/lib/openzeppelin-contracts"]
	path = nft-omega/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
